/* FONTS */
/* Bold */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Extra Bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-200: #F0F0F0;
  --clr-neutral-300: #DCDCDC;
  --clr-neutral-600: #716F6F;
  --clr-neutral-900: #000000;
  --clr-acccent-purple: #854DFF;
  --clr-acccent-red: #FF5959;
  color-scheme: light;
}

/* RESET */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

label,
input,
:placeholder-shown,
button {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(0.75rem, 0.7193rem + 0.1311vw, 0.875rem);
  font-weight: 700;
  line-height: 1.2;
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-200);
}

/* TYPOGRAPHY */
label {
  text-transform: uppercase;
  letter-spacing: .25em;
  color: var(--clr-neutral-600);
}

input {
  padding: .5em .75em;
  border: 1px solid var(--clr-neutral-300);
  border-radius: .5rem;
  caret-color: var(--clr-acccent-purple);
  font-size: clamp(1.25rem, 1.0656rem + 0.7869vw, 2rem);
}

input:focus {
  outline: 1px solid var(--clr-acccent-purple);
}

:placeholder-shown {
  font-size: clamp(1.25rem, 1.0656rem + 0.7869vw, 2rem);
  color: var(--clr-neutral-600);
}

.output-info {
  font-size: clamp(3.5rem, 2.7623rem + 3.1475vw, 6.5rem);
  font-weight: 800;
  font-style: italic;
  letter-spacing: -.02em;
}

.numbers {
  padding-right: .1em;
  color: var(--clr-acccent-purple);
}

.warning {
  color: var(--clr-acccent-red);
}

.warning-msg {
  font-weight: 400;
  font-style: italic;
  margin: -4.5em 0 3em 0;
  padding: 0;
  order: 3;
}

/* LAYOUT */
main {
  position: relative;
  min-width: 343px;
  /* max-width: 840px; */
  margin-top: 6.75em;
  margin-inline: auto;
  padding: 3em 1.5em 3em 1.5em;
  border-radius: 1.5em 1.5em 6.25em 1.5em;
  background-color: var(--clr-neutral-100);
}

form {
  margin-bottom: 6em;
  border-bottom: 1px solid var(--clr-neutral-300);
}

.inputs {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.input-grp {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.inputs label {
  order: 0;
  padding-top: 1em;
  padding-bottom: .4rem;
}

.inputs input {
  order: 1;
  align-items: stretch;
  flex: 1 0 54px;
  width: 87px;
  margin-bottom: 3em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button {
  position: absolute;
  top: 12.5em;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em;
  border-radius: 50%;
  background-color: var(--clr-acccent-purple);
  cursor: pointer;
}

button:active {
  background-color: var(--clr-neutral-900);
}

svg {
  width: 2em;
  height: 2em;
}

.output {
  margin-bottom: 1.5em;
}

/* MEDIA QUERIES */
@media (min-width: 400px) {
  button {
    top: 13em;
  }
}
@media (min-width: 500px) {
  main {
    width: 85%;
  }
  .inputs input {
    width: 100px;
  }
  button {
    top: 13.25em;
  }
}
@media (min-width: 600px) {
  .inputs input {
    width: 120px;
  }
}
@media (min-width: 700px) {
  main {
    width: 85%;
  }
  .inputs input {
    width: 160px;
  }
  .calc-btn {
    top: 13.25em;
    left: 100%;
    transform: translateX(-130%);
  }
}
@media (min-width: 860px) {
  main {
    width: 840px;
  }
  .calc-btn {
    top: 13em;
  }
}
@media (min-width: 1000px) {
  .calc-btn {
    top: 13.25em;
  }
}
@media (min-width: 1200px) {
  .calc-btn {
    top: 13.5em;
  }
}
@media (min-width: 1300px) {
  .calc-btn {
    top: 13.75em;
  }
}
@media (min-width: 1400px) {
  .calc-btn {
    top: 14em;
  }
}
@media (min-width: 1800px) {
  .calc-btn {
    top: 15em;
  }
}